In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack
import numpy as np
import pickle
import math

In [2]:
#下面处理user。csv
user = pd.read_csv('./pre/user.csv')
user.head()

,userID,age,gender,education,marriageStatus,haveBaby,hometown,residence
0,1,42,1,0,2,0,512,503
1,2,18,1,5,1,0,1403,1403
2,3,0,2,4,0,0,0,0
3,4,21,2,5,3,0,607,607
4,5,22,2,0,0,0,0,1301

In [18]:
user_education = user[user.education>0] 
user_education.head()

,userID,age,gender,education,marriageStatus,haveBaby,hometown,residence
1,2,18,1,5,1,0,1403,1403
2,3,0,2,4,0,0,0,0
3,4,21,2,5,3,0,607,607
6,7,17,1,5,0,0,313,313
7,8,21,1,2,3,1,1607,1607

In [54]:
#计算类别的先验概率
pr_user_education = user_education['education'].value_counts()/user_education['education'].size
pr_user_education.to_frame()

   education
1   0.301982
3   0.244029
2   0.235162
4   0.116127
5   0.082376
6   0.013999
7   0.006326

AttributeError: 'module' object has no attribute 'pr_user_education'

In [51]:

pr_user_education = pd.DataFrame(pr_user_education, columns=['level','value'])

pr_user_education

Empty DataFrame
Columns: [level, value]
Index: []

In [56]:
pzz = pd.crosstab(pr_user_education['education'],user['education'],margins=True).apply(lambda x:x/x[-1], axis=1)

KeyError: 'education'

In [ ]:

# 给出测试样本：
x = pd.Series(['打喷嚏','建筑工人'], index=['症状','职业'])
px = pzz.ix[:,x[0]].mul(pzy.ix[:,x[1]])[:-1]

# 计算P(C | x)
res = pr.mul(px).argmax()
print(res)